# Исключаем виртуальное окружение
venv/

# Файлы кешей
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи и временные файлы
*.log
*.temp
*.tmp

# Конфигурационные файлы IDE
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db

# Модели и большие бинарные файлы, если не хотите их хранить в репозитории
models/*.h5
models/*.pkl

#Датасеты
data/processed/*.csv
data/raw/*.csv